@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --base-fg: #292929;
  --base-bg: #efefef;
  --overlay-1: #7773;
}

:root {
  --base-bg: #171717;
  --base-fg: #efefef;
}

* {
  font-family: 'Inter', sans-serif;
}

html, body {
  @apply bg-black;
}

.pubkey {
  font-family: 'JetBrains Mono', monospace;
  word-break: break-all;
}

.overlay-1 {
  background: var(--overlay-1);
}

.icon-sol::before {
  content: "◎";
  @apply inline-block text-gray-500;
}

.prefix-input {
  @apply relative;
}
.prefix-icon-sol:before {
  content: "◎";
  @apply inline-block absolute text-lg top-2 left-2 text-gray-500;
}

.wallet-adapter-button.wallet-adapter-button-trigger, .wallet-adapter-button:not([disabled]):hover {
  @apply bg-white text-black hover:bg-gray-100 font-normal rounded-full h-14;

}
.wallet-adapter-button[disabled].wallet-adapter-button-trigger {
  @apply text-black bg-gray-100;
}

.select-base-theme .base__control {
  @apply bg-slate-800 border-slate-800 text-white
}

.select-base-theme .base__control.base__control--is-focused {
  @apply border-slate-900;
}

.select-base-them .base__value-container {}

.select-base-theme .base__indicators {}

.select-base-theme .base__menu {
  @apply bg-slate-800 border-0
}

.select-base-theme .base__menu-list {}

.select-base-theme .base__option {}

.select-base-theme .base__option.base__option--is-focused {
  @apply bg-slate-600
}

.select-base-theme .base__multi-value {
  @apply bg-slate-600 text-white
}

.select-base-theme .base__multi-value__label {
  @apply text-white
}