@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --base-fg: #292929;
  --base-bg: #efefef;
  --overlay-1: #7773;
}

:root {
  --green-500: #22c55e;
  --gray-100: #e0e0e0;
  --gray-300: #a8a8a8;
  --gray-500: #6f6f6f;
  --gray-700: #393939;
  --gray-800: #262626;
  --gray-900: #171717;
  --error-300: #fda29b;
  --error-500: #f04438;
  --error-800: #912018;
  --error-900: #7a271a;
  --success-300: #6ce9a6;
  --success-500: #12b76a;
  --success-800: #05603a;
  --success-900: #054f31;
}

@layer components {
  .label {
    @apply text-xs text-gray-300;
  }

  .button {
    @apply flex font-semibold items-center justify-center h-12 text-gray-900 bg-white hover:scale-[1.02] px-4 rounded-full whitespace-nowrap transition-transform grow;
  }

  .button.small {
    @apply h-10 text-sm;
  }

  .button.secondary {
    @apply text-white bg-gray-900 grow;
  }

  .button.tertiary {
    @apply text-gray-300 bg-gray-700 grow;
  }

  .input {
    @apply bg-gray-900 px-4 py-2 border border-gray-500 focus:border-gray-100 text-white rounded-md w-full focus:outline-none placeholder-gray-500;
  }

  .sol-input {
    @apply relative;
  }

  .sol-input .input {
    @apply pl-10;
  }

  .sol-input:before {
    content: '◎';
    @apply h-full absolute px-4 flex items-center text-gray-500;
  }

  .sol-amount:before {
    content: '◎';
    @apply h-full text-gray-500 mr-1;
  }

  .connected-status:before {
    content: '';
    @apply inline-block w-2 h-2 rounded-full bg-green-500 mr-2;
  }
}

* {
  font-family: 'Inter', sans-serif;
}

html,
body {
  @apply bg-gray-900;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-base;
}

.pubkey {
  font-family: 'JetBrains Mono', monospace;
  word-break: break-all;
}

.app-slider .react-multiple-carousel__arrow--right {
  @apply right-2;
}

.app-slider .react-multiple-carousel__arrow--left {
  @apply left-2;
}

.app-slider.react-multi-carousel-list {
  @apply p-1;
}

.overlay-1 {
  background: var(--overlay-1);
}

.icon-sol::before {
  content: '◎';
  @apply inline-block text-gray-500 mr-1;
}

.wallet-modal-theme .wallet-adapter-modal-wrapper {
  @apply bg-gray-900 font-sans;
}

.wallet-modal-theme .wallet-adapter-button:not([disabled]):hover {
  @apply bg-gray-800;
}

.wallet-modal-theme .wallet-adapter-modal-button-close {
  @apply bg-gray-800;
}
.select-base-theme .base__control {
  @apply bg-gray-800 border-0 text-white outline-0 shadow-none cursor-pointer rounded-md py-1 px-4;
}

.select-base-theme .base__control:hover {
  @apply bg-gray-700 border-0 text-white shadow-none;
}

.select-base-theme .base__value-container,
.select-base-theme .base__input-container,
.select-base-theme .base__placeholder {
  @apply p-0 m-0;
}

.select-base-theme .base__control.base__control--is-focused {
  @apply border-0 bg-gray-700  outline-0 shadow-none;
}

.select-base-theme .base__dropdown-indicator {
  @apply text-gray-500 pr-0;
}

.select-base-theme .base__indicator-separator {
  background-color: transparent;
}

.select-base-theme .base__menu {
  @apply bg-gray-800 border-0;
}

.select-base-theme .base__menu-list .base__option {
  @apply bg-gray-800;
}

.select-base-theme .base__menu-list .base__option:hover {
  @apply bg-gray-700;
}

.select-base-theme .base__option.base__option--is-focused {
  @apply bg-gray-800 cursor-pointer;
}

.select-base-theme .base__multi-value {
  @apply bg-gray-500 text-white;
}

.select-base-theme .base__multi-value__label {
  @apply text-white;
}

/* Dialect-specific */
@supports (overflow: overlay) {
  .dt-overflow-y-auto {
    overflow-y: overlay;
  }
}
