# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main, dev, mpw/runner ]
jobs:
  build:
    name: Building and Pushing Image
    if: ${{ !contains(github.event.head_commit.message, '#k8s') }}
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR (dev)
      id: build-image-dev
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ github.event.repository.name }}

      run: |
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        git_branch=${GITHUB_REF##*/}
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$git_branch-$git_hash --build-arg GRAPHQL_URI=https://graph-test.holaplex.com/v1 .
        echo "Pushing $git_branch image to ECR..."
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$git_branch-$git_hash
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$git_branch-$git_hash"
